<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'converter/css/base.css'%}">
    <title>Currency converter</title>
</head>

<body>
    <section class="container">
        <div class="box-shadow">
            <div >
                <h4>Currency converter </h4>
            </div>
            <form id="form" action="." class="container" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <ul>
                        {{ currency_form.as_p }}
                    </ul>
                    {% if converted_currency %}
                    <div class="row">
                        <div>Converted amount:</div>
                        <div>{{converted_currency}}</div>
                    </div>
                    {% endif %}
                </div>
                <div >
                    <input id="submit" type="submit" class="btn" value="Convert" />
                </div>

            </form>
        </div>
    </section>
</body>

</html>