body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container ul {
    padding-left: 0;
}

.container ul p :last-child,
.container .row :last-child {
    margin-left: 20px;
}

p, .row {
    display: flex;
    margin-bottom: 20px;
}

p {
    justify-content: space-between;
}

.box-shadow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.btn {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    padding: 10px 30px 10px 30px;
    margin: 7px;
    border: none;
}

